In [1]:
import pandas as pd

# Create two sample DataFrames
data1 = {'ID': [1, 2, 3, 4, 5], 'Column1': ['A', 'B', 'C', 'D', 'E']}
data2 = {'ID': [1, 3, 5, 6, 7], 'Column2': ['X', 'Y', 'Z', 'W', 'Q']}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Perform left join on the 'ID' column
merged_df = pd.merge(df1, df2, on='ID', how='left')

# Print the merged DataFrame
print(merged_df)

   ID Column1 Column2
0   1       A       X
1   2       B     NaN
2   3       C       Y
3   4       D     NaN
4   5       E       Z

In [2]:
df1

   ID Column1
0   1       A
1   2       B
2   3       C
3   4       D
4   5       E

In [3]:
df2

   ID Column2
0   1       X
1   3       Y
2   5       Z
3   6       W
4   7       Q

In [4]:
column_two_isna = pd.isna(merged_df["Column2"])

In [6]:
~column_two_isna

0     True
1    False
2     True
3    False
4     True
Name: Column2, dtype: bool